<!--トップページ画面 -->
<div class="about">
	<div class="about-item">
		<strong>Travel-Book</strong>
		<p>あなたの素敵な旅行の思い出をこのサイトに残しませんか？</p>
		<p>このサイトは楽しかった旅行の思い出を保存したり<br>他のユーザと共有できるアプリです。</p>
		<p>色々な人と共有することで<br>新たな発見や出会いががあなたを待っています！</p>

	</div>
</div>
<div class="flex">
	<hr>
	<h2>サイトの特徴</h2>
	<hr>
	<div class="d-flex">
		<div class="flex_test-item">
			<img src="assets/Booker.jpg"><br><br>
			<h5>１．旅行の思い出を記録</h5>
			<p>旅行先での思い出を投稿することで<br>保存閲覧することができます。</p>
		</div>
		<div class="flex_test-item">
			<img src="assets/resort.jpg"><br><br>
			<h5>２．思い出をシェアできる！</h5>
			<p>思い出を投稿して他のユーザにも<br>素敵な思い出を共有しよう</p>
			<p>他のユーザの投稿をシェアすることで<br>新たな旅行先が見つかる!</p>
		</div>
		<div class="flex_test-item">
			<img src="assets/ipad.jpg"><br><br>
			<h5>３．投稿をタグで検索</h5>
			<p>ユーザの投稿にはタグがつけることができ、<br>タグを検索して様々な投稿を探してみよう。</p>
		</div>
	</div>
</div>
