<!--トップページ画面 -->
<div class="a" data-turbolinks="false">
    <div class="b"><img class="c" src="assets/3523799_l.jpg"></div>
    <div class="b"><img class="c" src="assets/3263899_m.jpg"></div>
    <div class="b"><img class="c" src="assets/152567_m.jpg"></div>
</div>
<div class="flex">
<h2>サイトの特徴</h2>
<div class="d-flex">
	<div class="flex_test-item">
		<h3>１．あなたの旅行の思い出を記録</h3>
		<p>旅行先での思い出を投稿することで保存できます。</p><br>
		<p>マイページから今までの投稿した内容を閲覧できます。</p>
	</div>
	<div class="flex_test-item">
		<h3>２．思い出をシェアできる！</h3>
		<p>思い出を投稿して他のユーザにも素敵な思い出を共有しよう</p>
		<p>他のユーザの投稿をシェアすることで新たな旅行先が見つかる!</p><br>
		<p></p>
	</div>
	<div class="flex_test-item">
		<h3>３．投稿をタグで検索</h3>
		<p>ユーザの投稿にはタグがつけることができ、投稿を検索できる！</p><br>
		<p>タグを利用して様々な投稿を探してみよう。</p>
	</div>
</div>
</div>
