// Place all the styles related to the Travel_Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.flex > div {
	justify-content: flex-start;
	flex-basis: 30%;

	img{
		width: 250px;
		height: 300px;

	}
}
.flex-item{
	margin: 30px;
}
